body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.text {
    white-space: wrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 700px;
    height: 150px;
}

@media (min-width: 576px) {
    .column {
        display: flex;
        flex-direction: row;

    }

    .alignment {
        display: flex;
        flex-direction: column;
    }
}